In [29]:
#Imports
import pandas as pd
import numpy as np

#Load data
basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"

basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

Basics Data Clean

In [30]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [31]:
basics.replace({'\\N':np.nan},inplace=True)

In [32]:
basics['runtimeMinutes'].dropna(inplace=True)

In [33]:
basics1 = basics[basics['titleType'].str.contains('short|tvShort|tvMovie|tvSeries|tvEpisode|tvMiniSeries|tvSpecial|video|videoGame|tvPilot')==False]

In [40]:
basics1.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama

In [43]:
basics1['startYear'].unique()

array(['1894', '1897', '1905', '1906', '1907', '1908', '1909', '1910',
       '1912', '1911', '1913', '1915', '1914', '1919', '1916', '1917',
       '1936', '1925', '1918', '1920', '1922', '1921', '1924', '1923',
       '1928', '2019', '2021', '1926', '1927', '1929', '2000', '1993',
       '1935', '1930', '1942', '1932', '1931', '1934', '1939', nan,
       '1937', '1933', '1950', '1938', '1951', '1946', '1940', '1944',
       '1947', '1941', '1952', '1970', '1957', '1943', '1948', '1945',
       '2001', '1949', '1953', '1954', '1965', '1983', '1980', '1973',
       '1961', '1955', '1962', '1958', '2013', '1956', '1977', '1964',
       '1960', '1959', '1967', '1968', '1963', '1971', '1969', '1972',
       '1966', '1976', '1990', '1979', '1981', '2020', '1975', '1978',
       '1989', '1974', '1986', '1995', '1987', '1985', '2018', '1984',
       '1992', '1982', '1988', '1991', '2022', '1996', '1994', '2005',
       '1998', '2002', '1997', '2009', '2017', '2006', '2023', '1999',
       '2004', '2015', '2008', '2003', '2007', '1903', '1898', '1899',
       '2012', '2010', '2011', '1904', '2016', '1901', '1902', '1900',
       '2024', '2014', '2025', '2029', '2026', '2027', '2030', '1896',
       '2028', '2031'], dtype=object)